body{
    background:#EED2F2;
    font-family:Times new roman;
}
h1{
    color:#965E9D;
    text-align:center;
}
.about{
    color:#4B756A;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.skills{
    color:#6073C7;
    font-family:Arial, Helvetica, sans-serif;
}
.projects{
    color:#313D73;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.contact{
    color:#704B75;
    font-family:Sans-serif;
}